header {
    background: black;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 95%;
    max-width: 1500px;
    
    
  }
  
  
  
  .logo1 {
    font-size: 2rem;
    margin: 1rem;
    text-transform: uppercase;
    font-family: 'Ewert';
    font-weight: bold;
  }
  
  nav {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background: black;
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
    display: none;
    
  }
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
  }
  
  nav li {
    margin-bottom: 1.5em;
    margin-left: 1em;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: #ffa98e;
  }
  
  .nav-toggle:checked ~ nav {
    display: block;
  }
  
  @media (min-width: 900px) {
    .nav-toggle-label {
      display: none;
    }
    
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      background: black;
    }
    
    nav {
      all: unset;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 1em;
    }
    
    nav ul {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
     nav li { 
      margin-bottom: 0;
      padding: 0;
    }
  }
  






/* About us styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(255, 0, 0, 0.582)), url(https://lh3.googleusercontent.com/p/AF1QipPw_pdKksv1lxVvjRihF7K-rZsEO85Fzja7gt4x=s1360-w1360-h1020);
    background-size: cover;
  }
  .footer_get_touch_outer {
    margin-top: 80px;
  }
  .container {
    width: 95%;
    max-width: 1140px;
    margin: auto;
  }
  .grid-70-30 {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .get_form_inner {
    display: block;
    padding: 50px 40px;
    background: #fff;
    box-shadow: -4px -2px 20px -7px #cfd5df;
  }
  input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    height: 42px;
    padding: 0 0 0 20px;
    width: 100%;
    outline: 0;
  }
  .grid-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-full {
    margin: 20px 0;
  }
  textarea {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    padding: 12px 0 0 20px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
  }
  .get_form_inner_text h3 {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  input[type="submit"] {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid;
    font-weight: 500;
    padding: 10px 20px;
    outline: 0;
    cursor: pointer;
    color: #103e65;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  input[type="submit"]:hover {
    background-color: #f85508;
    border-color: #f85508;
    color: #fff;
  }
  .get_say_form {
    display: inline-block;
    padding: 45px 0 25px 30px;
    background: black;
    position: relative;
  }
  .get_say_form h5 {
    color: #fff;
    font-size: 26px;
    margin: 0 0 40px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .get_say_social-icn {
    display: flex;
    position: absolute;
    bottom: 40px;
  }
  .get_say_social-icn a {
    font-size: 22px;
    color: #fff;
    padding: 0 20px 0 0;
  }
  .get_say_info_sec i {
    color: #fff;
    font-size: 32px;
  }
  .get_say_info_sec > li {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    margin-bottom: 40px;
  }
  .get_say_info_sec > li a {
    width: 100%;
    display: block;
    padding: 15px 25px;
    color: #fff;
    font-size: 16px;
    text-decoration: unset;
    font-weight: 500;
    background: silver;
    border-radius: 5px 0 0 5px;
    transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .get_say_info_sec > li a:hover {
    background-color: #f85508;
  }